*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/shelf
/.idea/indexLayout.xml
/.idea/deploymentTargetSelector.xml
/.idea/studiobot.xml
/.idea/copilot.data.migration.ask2agent.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
